.popup__content {
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  max-height: 80vh;
  max-width: 80vw;
  margin-bottom: 50px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}
