@import url(./_size/button_size_small.css);
@import url(./_size/button_size_middle.css);
@import url(./_size/button_size_big.css);

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}
